@page "/catalog/animaltypes"

<PageHeader Title="AnimalTypes" Header="AnimalTypes" SubHeader="Manage your AnimalTypes." />

<EntityTable @ref="_table" TEntity="AnimalTypeResponse" TId="Guid" TRequest="AnimalTypeViewModel" Context="@Context">

    <AdvancedSearchContent>
        <MudSlider T="decimal" @bind-value="SearchMinimumRate" Min="0" Max="9999" Step="100">Minimum Rate: @_searchMinimumRate.ToString()</MudSlider>
        <MudSlider T="decimal" @bind-value="SearchMaximumRate" Min="0" Max="9999" Step="100">Maximum Rate: @_searchMaximumRate.ToString()</MudSlider>
    </AdvancedSearchContent>

    <EditFormContent>
        @if (!Context.AddEditModal.IsCreate)
        {
            <MudItem xs="12" md="6">
                <MudTextField Value="context.Id" Underline=false ReadOnly Label="AnimalType Id" />
            </MudItem>
        }
        <MudItem xs="12" md="6">
            <MudTextField Label="Name" For="@(() => context.Name)" @bind-Value="context.Name" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Description" For="@(() => context.Description)"
                @bind-Value="context.Description" />
        </MudItem>

        <MudItem xs="12" md="3">
            <MudNumericField T="double" Label="FCR Mean" @bind-Value="context.FcrMean" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudNumericField T="double" Label="FCR StdDev" @bind-Value="context.FcrStdDev" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudNumericField T="double" Label="Disease Incidence Mean" @bind-Value="context.DiseaseIncidenceMean" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudNumericField T="double" Label="Disease Incidence StdDev" @bind-Value="context.DiseaseIncidenceStdDev" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudNumericField T="double" Label="Carcass Yield Mean" @bind-Value="context.CarcassYieldMean" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudNumericField T="double" Label="Carcass Yield StdDev" @bind-Value="context.CarcassYieldStdDev" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudNumericField T="double" Label="Quality Grade Mean" @bind-Value="context.QualityGradeMean" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudNumericField T="double" Label="Quality Grade StdDev" @bind-Value="context.QualityGradeStdDev" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudNumericField T="double" Label="Lower Critical Temp" @bind-Value="context.LowerCriticalTemp" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudNumericField T="double" Label="Upper Critical Temp" @bind-Value="context.UpperCriticalTemp" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudNumericField T="double" Label="Arrival Head Count Mean" @bind-Value="context.ArrivalHeadCountMean" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudNumericField T="double" Label="Arrival Head Count StdDev" @bind-Value="context.ArrivalHeadCountStdDev" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudNumericField T="double" Label="Arrival Weight Mean" @bind-Value="context.ArrivalWeightMean" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudNumericField T="double" Label="Arrival Weight StdDev" @bind-Value="context.ArrivalWeightStdDev" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudNumericField T="double" Label="Arrival Cost Mean" @bind-Value="context.ArrivalCostPerCwtMean" />
        </MudItem>
        <MudItem xs="12" md="3">
            <MudNumericField T="double" Label="Arrival Cost StdDev" @bind-Value="context.ArrivalCostPerCwtStdDev" />
        </MudItem>

        <MudItem xs="12" md="12">
            <MudItem>
                <div>
                    @if(!Context.AddEditModal.IsCreate)
                    {
                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank"
                            StartIcon="@Icons.Material.Filled.RemoveRedEye" Style="margin-left: 5px;" >
                            View
                        </MudButton>

                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                                   StartIcon="@Icons.Material.Filled.Delete" Style="margin-left: 5px;">
                            Delete
                        </MudButton>
                    }
                </div>
            </MudItem>
        </MudItem>
    </EditFormContent>

</EntityTable>