@page "/catalog/lifecycleprograms"

<PageHeader Title="LifecyclePrograms" Header="LifecyclePrograms" SubHeader="Manage your LifecyclePrograms." />

<EntityTable @ref="_table" TEntity="LifecycleProgramResponse" TId="Guid" TRequest="LifecycleProgramViewModel" Context="@Context">

    <AdvancedSearchContent>
        <MudSlider T="decimal" @bind-value="SearchMinimumRate" Min="0" Max="9999" Step="100">Minimum Rate: @_searchMinimumRate.ToString()</MudSlider>
        <MudSlider T="decimal" @bind-value="SearchMaximumRate" Min="0" Max="9999" Step="100">Maximum Rate: @_searchMaximumRate.ToString()</MudSlider>
    </AdvancedSearchContent>

    <EditFormContent>
@*         @if (!Context.AddEditModal.IsCreate)
        {
            <MudItem xs="12" md="6">
                <MudTextField Value="context.Id" Underline=false ReadOnly Label="LifecycleProgram Id" />
            </MudItem>
        } *@
        <MudItem xs="12" md="6">
            <MudTextField Label="Name" For="@(() => context.Name)" @bind-Value="context.Name" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Description" For="@(() => context.Description)"
                @bind-Value="context.Description" />
        </MudItem>
@*         
        <MudItem xs="12" md="6">
            <MudTextField Label="Rating" For="@(() => context.Rating)" @bind-Value="context.Rating" />
        </MudItem>
 *@
         <MudItem xs="12" md="4">
            <MudSelect T="LifecycleStageResponse" Label="Lifecycle Stage" @bind-Value="SelectedLifecycleStage" SelectedValuesChanged="OnSelectionChanged" ToStringFunc=@(x => x.Name)>
                @foreach (var lifecycleStage in LocalLifecycleStages)
                {
                    <MudSelectItem Value="lifecycleStage">@lifecycleStage.Name</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="12" md="4">
            <MudNumericField T="int" Label="Stage Order" @bind-Value="SelectedLifecycleStageOrder" />
        </MudItem>
        <MudItem xs="12" md="4">
            <MudButton DropShadow="false" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Add" ButtonType="ButtonType.Button" Color="Color.Secondary" @onclick="AddToProgram">
                Add to Program
            </MudButton>
        </MudItem>
        <MudItem xs="12" md="12">
            <MudTable Items="@ApprovedLifecycleStages" Class="mt-4">
                <HeaderContent>
                    <MudTh>Name</MudTh>
                    <MudTh>Order</MudTh>
                    <MudTh>Ration</MudTh>
                    <MudTh>Growth Treatment</MudTh>
                    <MudTh>Preventative Treatment</MudTh>
                    <MudTh>Actions</MudTh>
                </HeaderContent>
                <RowTemplate Context="stagesContext">
                    <MudTd>@stagesContext.LifecycleStage.Name</MudTd>
                    <MudTd>@stagesContext.Order</MudTd>
                    <MudTd>@stagesContext.LifecycleStage.Ration.Name</MudTd>
                    <MudTd>@stagesContext.LifecycleStage.GrowthTreatment.Name</MudTd>
                    <MudTd>@stagesContext.LifecycleStage.PreventativeTreatment.Name</MudTd>
                    <MudTd>
                        <MudButton DropShadow="false" Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Remove" Color="Color.Error" Size="Size.Small" @onclick="() => DeleteFromProgram(stagesContext)">
                            Remove
                        </MudButton>
                    </MudTd>
                </RowTemplate>
            </MudTable>
        </MudItem>


@*         <MudItem xs="12" md="12">
            <MudItem>
                <div>
                    @if(!Context.AddEditModal.IsCreate)
                    {
                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank"
                            StartIcon="@Icons.Material.Filled.RemoveRedEye" Style="margin-left: 5px;" >
                            View
                        </MudButton>

                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                                   StartIcon="@Icons.Material.Filled.Delete" Style="margin-left: 5px;">
                            Delete
                        </MudButton>
                    }
                </div>
            </MudItem>
        </MudItem> *@
    </EditFormContent>

</EntityTable>