@page "/catalog/lifecyclestages"

<PageHeader Title="LifecycleStages" Header="LifecycleStages" SubHeader="Manage your LifecycleStages." />

<EntityTable @ref="_table" TEntity="LifecycleStageResponse" TId="Guid" TRequest="LifecycleStageViewModel" Context="@Context">

    <AdvancedSearchContent>
        <MudSlider T="decimal" @bind-value="SearchMinimumRate" Min="0" Max="9999" Step="100">Minimum Rate: @_searchMinimumRate.ToString()</MudSlider>
        <MudSlider T="decimal" @bind-value="SearchMaximumRate" Min="0" Max="9999" Step="100">Maximum Rate: @_searchMaximumRate.ToString()</MudSlider>
    </AdvancedSearchContent>

    <EditFormContent>
        @if (!Context.AddEditModal.IsCreate)
        {
            <MudItem xs="12" md="6">
                <MudTextField Value="context.Id" Underline=false ReadOnly Label="LifecycleStage Id" />
            </MudItem>
        }
        <MudItem xs="12" md="6">
            <MudTextField Label="Name" For="@(() => context.Name)" @bind-Value="context.Name" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudTextField Label="Description" For="@(() => context.Description)"
                @bind-Value="context.Description" />
        </MudItem>


        <MudItem xs="12" md="6">
            <MudSelect T="RationResponse" Label="Ration" @bind-Value="context.Ration" ToStringFunc=@(x => x.Name)>
                @foreach (var ration in Rations)
                {
                    <MudSelectItem Value="ration">@ration.Name</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="12" md="6">
            <MudSelect T="GrowthTreatmentResponse" Label="GrowthTreatment" @bind-Value="context.GrowthTreatment" ToStringFunc=@(x => x.Name)>
                @foreach (var growthTreatment in GrowthTreatments)
                {
                    <MudSelectItem Value="growthTreatment">@growthTreatment.Name</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="12" md="6">
            <MudSelect T="PreventativeTreatmentResponse" Label="PreventativeTreatment" @bind-Value="context.PreventativeTreatment" ToStringFunc=@(x => x.Name)>
                @foreach (var preventativeTreatment in PreventativeTreatments)
                {
                    <MudSelectItem Value="preventativeTreatment">@preventativeTreatment.Name</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="12" md="4">
            <MudNumericField T="double" Label="Target Weight" @bind-Value="context.TargetWeight" />
        </MudItem>
        <MudItem xs="12" md="4">
            <MudNumericField T="double" Label="Target Adfi" @bind-Value="context.TargetAdfi" />
        </MudItem>
        <MudItem xs="12" md="4">
            <MudNumericField T="double" Label="Adfi StdDev" @bind-Value="context.AdfiStdDev" />
        </MudItem>
        <MudItem xs="12" md="4">
            <MudNumericField T="double" Label="Sort Range" @bind-Value="context.TargetWeightRangeForSort" />
        </MudItem>
        <MudItem xs="12" md="4">
            <MudNumericField T="int" Label="Mergeable Duration" @bind-Value="context.MergeableDuration" />
        </MudItem>
        <MudItem xs="12" md="4">
            <MudNumericField T="double" Label="Mergeable Range" @bind-Value="context.MergeableWeightRange" />
        </MudItem>
        <MudItem xs="12" md="4">
            <MudNumericField T="int" Label="Max Head" @bind-Value="context.MaxHead" />
        </MudItem>
        <MudItem xs="12" md="12">
            <MudItem>
                <div>
                    @if(!Context.AddEditModal.IsCreate)
                    {
                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Target="_blank"
                            StartIcon="@Icons.Material.Filled.RemoveRedEye" Style="margin-left: 5px;" >
                            View
                        </MudButton>

                        <MudButton HtmlTag="label" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small"
                                   StartIcon="@Icons.Material.Filled.Delete" Style="margin-left: 5px;">
                            Delete
                        </MudButton>
                    }
                </div>
            </MudItem>
        </MudItem>
    </EditFormContent>

</EntityTable>